---
layout: default
---

how to write Common Lisp in 2015

an initiation manual for the uninitiated

---



* Set up your [lisp system](./env:lisp-system.html).
* Set up [Quicklisp](./env:quicklisp.html).
* Write some [Lisp](./initial:abcs.html).
* Check out the new project [tutorial](./initial:new-project.html)
* Look up our [Trotter](./examples:trotter-walkthrough.html), a web spider.
* Keep our [Quick Links](./quicklinks.html) bookmarked.


{% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
        {% if site.comments == true and post.comments == true and site.disqus != '' %}
          <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread">Comments</a></p>
        {% endif %}
        <div class="content">
            {{ post.content }}
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>
